Repository CyberDiscovery/cyberdisc-bot, pull requests merged in 2018-11, with the labels that each got.

#48 Add new "FBI OPEN UP" Reaction; formatted others
  bot/cogs/fun.py
Labels: enhancement

#66 Kill the Mute Function with Fire
  bot/__main__.py
  bot/cogs/admin.py
Labels: bug

#42 Added Docker tests to Travis
  .travis.yml
Labels: coverage

#68 Auto Deploy
  .dockerignore
  .gitignore
  .travis.yml
  deploy.sh
  id_rsa.enc
Labels: enhancement

#41 Changes to Quote Functionallity - Possible fix to user-specific mentions.
  bot/cogs/fun.py
  bot/constants.py
Labels: bugfix
