Repository CyberDiscovery/cyberdisc-bot, pull requests merged in 2018-08, with the labels that each got.

#35 Add "text to speech bubble" feature w/ Agent J and Jibhat pictures.
  README.md
  bot/cogs/fun.py
  bot/constants.py
  bot/resources/AgentJSaysBlank.png
  bot/resources/Dosis-SemiBold.ttf
  bot/resources/JibhatSaysBlank.png
  requirements.txt
Labels: enhancement

#36 Fixes for the quotes function
  README.md
  bot/cogs/fun.py
  bot/constants.py
Labels: bug

#37 Fix Empoleon Being Bad At Git
  requirements.txt
Labels: bug

#39 Commenting code.
  bot/cogs/fun.py
Labels: enhancement, good first issue
