Repository CyberDiscovery/cyberdisc-bot, pull requests merged in 2019-11, with the labels that each got.

#274 Nuked Mentor role from readme
  cdbot/data/readme.json
Labels: enhancement

#276 Add await to elitecount
  cdbot/cogs/cyber.py
Labels: bugfix

#278 Fix template tag
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: bugfix

#291 Update all the things
  Dockerfile
  cdbot/cogs/fun.py
  poetry.lock
  pyproject.toml
  requirements-ci.txt
  requirements.txt
Labels: dependencies
