Repository CyberDiscovery/cyberdisc-bot, pull requests merged in 2019-03, with the labels that each got.

#154 Fix path to assess.json
  cdbot/cogs/cyber.py
Labels: urgent

#165 Update Game autoresponder for new end date
  cdbot/cogs/cyber.py
Labels: bug

#170 Migrate to Google Kubernetes Engine
  azure-pipelines.yml
  cdbot/__init__.py
  cdbot/cogs/fun.py
  cdbot/constants.py
  deployment.yaml
  id_rsa.enc
  requirements-ci.txt
  tox.ini
Labels: urgent

#171 Kubernetes Secrets Scare Me
  azure-pipelines.yml
  deployment.yaml
Labels: bugfix
