Repository CyberDiscovery/cyberdisc-bot, pull requests merged in 2020-04, with the labels that each got.

#383 Increase Quote Deletion Quota to 10
  cdbot/cogs/fun.py
  cdbot/constants.py
Labels: fun, module

#380 Integrate Both Maths Bots
  cdbot/bot.py
  cdbot/cogs/maths.py
  cdbot/constants.py
  poetry.lock
  pyproject.toml
  tox.ini
Labels: dependencies, module

#391 HOTFIX: Move bracket to the right place
  cdbot/constants.py
Labels: module

#392 Set QUOTES_DELETION_QUOTA
  cdbot/constants.py
Labels: module

#394 Wait for bot to be ready before running background task
  cdbot/cogs/fun.py
  cdbot/cogs/maths.py
Labels: fun

#396 Fix the loop
  cdbot/cogs/maths.py
  deployment.yaml
Labels: actions

#403 Refactor everything
  cdbot/__main__.py
  cdbot/bot.py
  cdbot/cogs/admin.py
  cdbot/cogs/cyber.py
  cdbot/cogs/fun.py
  cdbot/cogs/general.py
  cdbot/cogs/maths.py
  cdbot/constants.py
  cdbot/log.py
  requirements-ci.txt
  tox.ini
Labels: admin, cyber, dependencies, fun, general, module

#404 Allow for multiple inline LaTeX expressions
  .github/labeler.yml
  .github/labels.json
  cdbot/cogs/maths.py
  cdbot/constants.py
Labels: actions, labels, maths, meta, module

#405 Add user metadata to before_invoke
  cdbot/bot.py
Labels: module

#406 Sentry release tracking
  azure-pipelines/release-pipeline.yml
  cdbot/__init__.py
  poetry.lock
  pyproject.toml
Labels: actions, dependencies, module

#407 Add channel name and command to sentry tags
  cdbot/bot.py
Labels: module

#412 Add new policy paragraph
  cdbot/data/readme.json
Labels: module

#421 Add error handling for latex command
  cdbot/cogs/maths.py
Labels: maths

#420 Fix LaTeX checking in on_message
  cdbot/cogs/maths.py
  cdbot/constants.py
Labels: maths, module
