Repository CyberDiscovery/cyberdisc-bot, pull requests merged in 2020-03, with the labels that each got.

#346 Block :react in #quotes
  cdbot/cogs/fun.py
Labels: enhancement

#354 Update to Python 3.8 and Discord.py 1.3
  Dockerfile
  poetry.lock
  pyproject.toml
Labels: dependencies

#355 Setup Postgres Connection Pool
  cdbot/cogs/fun.py
Labels: enhancement

#360 Setup GitHub Workflow
  .github/labeler.yml
  .github/labels.json
  .github/workflows/labeler.yml
  .github/workflows/labels.yml
  .github/workflows/stale.yml
Labels: actions, enhancement, labels, meta

#361 Update Copyright Year
  LICENSE
Labels: meta

#356 Update Python badge
  README.md
Labels: meta

#365 Close #364
  cdbot/cogs/cyber.py
Labels: cyber
