Repository CyberDiscovery/cyberdisc-bot, pull requests merged in 2020-07, with the labels that each got.

#491 Update :elitecount to reflect individual course counts as well
  cdbot/cogs/cyber.py
  cdbot/constants.py
Labels: cyber, module

#472 Fix latex author deletion
  cdbot/cogs/maths.py
Labels: maths

#497 Update Kubectl
  azure-pipelines/release-pipeline.yml
Labels: actions

#499 Update to Kubernetes 1.16 syntax
  azure-pipelines/release-pipeline.yml
Labels: actions

#485 Don't try and connect to database if environ set
  cdbot/cogs/fun.py
  cdbot/constants.py
Labels: fun, module
