Repository CyberDiscovery/cyberdisc-bot, pull requests merged in 2020-06, with the labels that each got.

#450 Switch to https://quicklatex.com/ for LaTeX backend
  cdbot/cogs/cyber.py
  cdbot/cogs/maths.py
  cdbot/constants.py
Labels: maths

#465 Setup Code Scanning
  .github/workflows/codeql-analysis.yml
Labels: actions, meta, module

#470 Prevent labeler running on forked repositories
  .github/workflows/labeler.yml
Labels: actions, meta

#479 Fix one grammatical error.
  cdbot/cogs/cyber.py
Labels: cyber
