Repository CyberDiscovery/cyberdisc-bot, pull requests merged in 2020-05, with the labels that each got.

#418 Add Maths commands to Readme
  README.md
Labels: meta

#419 Add bug label
  .github/labels.json
Labels: labels, meta

#426 Support multiline expressions
  cdbot/constants.py
Labels: module

#427 Silently fail on invalid equations
  cdbot/cogs/maths.py
Labels: maths, module

#408 Tidy Sentry Tags
  cdbot/bot.py
Labels: module

#436 Use Caching
  .dockerignore
  azure-pipelines/build-pipeline.yml
Labels: actions

#441 Add Agent J Bad Hair Day
  cdbot/cogs/fun.py
  cdbot/resources/AgentJBadHairDaySaysBlank.png
Labels: fun, module

#437 Block Maths in #general
  cdbot/cogs/maths.py
  cdbot/constants.py
Labels: maths, module

#446 Fix inline LaTeX
  cdbot/cogs/maths.py
Labels: maths

#447 Simplify inline LaTeX
  cdbot/cogs/maths.py
Labels: maths

#454 Elite 2020 features
  cdbot/cogs/cyber.py
  cdbot/constants.py
Labels: cyber, module

#455 Add Veteran 2018 to Elite Count
  cdbot/cogs/cyber.py
  cdbot/constants.py
Labels: cyber, module

#449 cyber.py - include information about VCS and Game
  cdbot/cogs/cyber.py
Labels: cyber
