Repository CyberDiscovery/cyberdisc-bot, pull requests merged in 2020-09, with the labels that each got.

#527 Updated quotes deletion
  cdbot/cogs/fun.py
  cdbot/constants.py
Labels: fun, module

#532 update new essentials start date
  cdbot/cogs/cyber.py
Labels: cyber

#489 Rework :flag
  cdbot/cogs/cyber.py
  cdbot/constants.py
Labels: cyber, module

#522 Adding in :baldj
  README.md
Labels: meta

#526 Update README.md
  README.md
Labels: meta
