Repository CyberDiscovery/cyberdisc-bot, pull requests merged in 2020-10, with the labels that each got.

#531 Remove mentions of Virtual Cyber School
  cdbot/cogs/cyber.py
Labels: cyber

#507 added user join and leave messages
  cdbot/cogs/general.py
  cdbot/constants.py
Labels: general, module

#554 Added ban message
  cdbot/cogs/general.py
Labels: general

#563 Flow chart command
  cdbot/cogs/fun.py
Labels: fun

#562 Fix welcome message
  cdbot/constants.py
Labels: module

#557 Added :cma Command
  cdbot/cogs/fun.py
Labels: fun

#567 Update everything
  Dockerfile
  azure-pipelines/build-pipeline.yml
  azure-pipelines/release-pipeline.yml
  poetry.lock
Labels: actions, dependencies, module

#566 fixed cma command lol sorry for breaking it
  azure-pipelines/build-pipeline.yml
  cdbot/cogs/fun.py
  cdbot/constants.py
Labels: actions, fun, module

#575 adds member intent support
  cdbot/bot.py
Labels: module

#576 update discord.py, maybe fixes the leave messages
  poetry.lock
Labels: dependencies, module
