Repository CyberDiscovery/cyberdisc-bot, pull requests merged in 2022-01, with the labels that each got.

#670 Reduce quote deletion quota to 5
  cdbot/constants.py
Labels: module

#678 Swap to GitHub Actions
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/lint.yml
  README.md
  azure-pipelines/build-pipeline.yml
  azure-pipelines/release-pipeline.yml
  cdbot/cogs/fun.py
  cdbot/cogs/general.py
  cdbot/cogs/help.py
  deployment.yaml
  requirements-ci.txt
  tox.ini
Labels: meta, actions, general, fun

#679 Swap to internal GitHub token for pushing
  .github/workflows/build.yml
Labels: meta, actions

#686 Update :fm
  cdbot/cogs/cyber.py
Labels: cyber
